body {
    margin: 0px;
}
.encabezado, .contenido, .contenido-lateral, .pie-pagina {
    padding: 1em 2em;
}
.contenido, .contenido-lateral, .pie-pagina {
    float: left;
    box-sizing: border-box;
}
.encabezado {
    background-color: rgb(247, 220, 22);
    height: 100px;
}
.contenido {
    width: 60%;
}
.contenido-lateral {
    width: 40%;
    background-color: rgb(163, 163, 113);
    height: 500px;
}
.post {
    background-color: rgba(117, 225, 26, 0.46);
    height: 100px;
    margin-bottom: 1em;
}
.pie-pagina {
    width: 100%;
    background-color: black;
    height: 50px;
}

/*@media screen and (max-width: 640px) and (min-width: 480px) {*/
/*    .encabezado {*/
/*        background: black;*/
/*    }*/
/*}*/

@media screen and (min-width: 780px) and (max-width: 1024px) {
    .encabezado {
        background: red;
    }
    .contenido-lateral {
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .encabezado {
        background: blue;
    }
    .contenido-lateral {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .encabezado {
        width: 80px;
        background: black;
    }
    .contenido-lateral {
        background-color: rgb(250, 250, 168);
    }
    .contenido, .contenido-lateral {
        width: 100%;
    }
    .pie-pagina {
        display: none;
    }
}